.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin: 80px 170px;
}

.about-title{
  position: relative;
}
.about-title h1{
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 601;
}
.about-title img{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.about-section{
  display: flex;
  gap: 50px;
}
.about-right{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.about-left img{
  height: 250px;
}
.about-para{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  font-weight: 500;
}
.about-skills{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-skill{
  display: flex;
  gap: 50px;
  align-items: center;
  transition: 0.3s;
}
.about-skill p{
  min-width: 150px;
  font-size: 22px;
  font-weight: 500;
}
.about-skill hr{
  outline: none;
  border: none;
  width: 50%;
  height: 9px;
  border-radius: 50px;
  background: linear-gradient(264deg, rgb(122, 168, 122),rgb(72, 72, 227));
}
.about-skill:hover{
  transform: scale(1.05);
  transition: 0.3s;
}
.about-para{
  width: 1000px;
}
@media(max-width:768px){
  .about{
    gap: 80px;
    margin:50px 70px;
    align-items: start;
  }
  .about-title h1{
    font-size: 45px;
    padding: 0px;
  }
  .about-title img{
    width: 130px;
    right: -20px;
  }
  .about-section{
    flex-direction: column;
  }
  .about-left{
    display: none;
  }
  .about-para{
    font-size: 17px;
    line-height: 32px;
    width: 320px;
  }
  .about-skill{
    gap: 0px;
    align-items: center;
  }
  .about-skill p{
    font-size: 17px;
  }
  .about-skill hr{
    height: 6px;
  }

}